
@use "../abstracts/mixins" as *;

.features {
    background-color: var(--color-light-grayish-blue);
    text-align: center;

    &__title {
        font-size: 2.2rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 4rem;
    }
}

.feature {

    &__icon {
        margin-inline: auto;
        margin-bottom: 1rem;
    }
}

@include mediaQuery {
    .features__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include mediaQuery(1280px) {
    .features {
        text-align: left;

        &__text {
            max-width: 600px;
        }

        &__grid {
            grid-template-columns: repeat(4,1fr);
        }        
    }

    .feature {

        &__icon {
            margin-inline: initial;
            margin-bottom: 2rem;
        }

        &__title {
            margin-bottom: 2rem;
        }
    }
}